*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 56, 78);
    width: 100%;
    height: 75px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.800);
    display: flex;
    align-items:center;
    justify-content:left;
    justify-content: space-around;
    z-index: 999;
    animation: fromNav 1s ease-in-out;
}

@keyframes fromNav {
    0%{
        transform: translateY(-100px) ;

    }
    100%{
        transform: translateY(0px);
    }
}

.logo{
    width: auto;
    height: 70px;
    background-color: rgb(0, 56, 78);
}
.wrap-img{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}



.wrap-links{
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: space-around;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.219), 2px 2px 2px rgba(0, 0, 0, 0.144);
    background-color: rgb(0, 56, 78);
}


.wrap-links a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold ;
    font-size: 23px;
    transition: all 200ms ease-in-out;
}


.wrap-links a:hover{
    text-decoration: underline;
    color: rgb(175, 224, 255);
}

#s1{
    min-height: 100vh;
    padding-top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(30, 30, 30, 100) 0px -350px 3600px -2px inset;
}

.left{
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fromLeft 1500ms ease-in-out;

}



@keyframes fromLeft {
    0%{
        transform: scale(0.5) translateY(100px);
        opacity: 0;
    }
    50%{
        transform: scale(1.5) translateY(100px);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.right{
    width: 600px;
    height: 130px;
    animation: fromRight 1500ms ease-in-out;

}

@keyframes fromRight {
    0%{
        transform: translateY(-200px)scale(0);
        opacity: 0;
    }
    80%{
        transform: translateY(-200px)scale(0);
        opacity: 0.5;
    }
    100%{
        transform: translateX(0px)scale(1);
        opacity: 1;
    }
}

.wrap-banner{
    overflow: hidden;
    width: 400px;
    height:auto ;
}

.wrap-banner img{
    width: 400px;
    height: auto;
    filter: grayscale(1);
    transition: all 200ms ease-in-out;
}

.wrap-banner img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}

#s1 h1{
    padding-left: 55px;
    font-size: 50px;
    width: 100%;
    font-family: 'Power Smurf', sans-serif;
}

#s1 p{
    font-size: 18px;
    width: 100%;
    padding-left: 20px;
    font-family: 'Power Smurf', sans-serif;
    color: #ffd68a;
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 97, 136, 0.5);
}

#s1 h1 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #006097;
  color: rgb(255, 250, 239); 
}

#s2{
    min-height: 100vh;
    padding-top: 110px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    background-image: url(./images/smurfs2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(30, 30, 30, 100) 0px 300px 3600px -2px inset;
}

#s2 h2{
    font-family: 'Power Smurf', sans-serif;
    font-size: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #006097;
    color: rgb(255, 250, 239); 
}

.card img{
    margin-bottom: -10px;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
}

.wrap-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:15px;
}

.card{
    background: #457e9993;
    color: rgb(255, 255, 255);
    width: 350px;
    height: 480px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card h3{
    font-family: 'Power Smurf', sans-serif;
    font-size: 40px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #585858;
    color: rgb(255, 195, 195); 
}

.card p{
    font-family: 'Power Smurf', sans-serif;
    font-size: 17px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
    color: rgb(255, 248, 230); 
}

.wrap-cards h3{
    margin-top: 30px;
}

.card:hover img{
    transform: scale(1.03);
    box-shadow: 2px 1px 10px;
}

#s3{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(8, 8, 8);
}


.wrap-video{
    display: flex;
    align-items: center;
    justify-content: center;
}

#s4{
    background-image: url(./images/backgroundDoSmurftontao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.telaS4{
    background-color: #006097;
    width: auto;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(3, 3, 3, 100) 0px 300px 3600px -2px inset;
}

.telaS4 button{
    background-color: #000000;
    color: white;
    font-weight: bold;
    font-size: 30px;
    width: 300px;
    height: 100px;
    border-radius: 100px;
    border: 3px solid white;
    transition: all 100ms ease-in-out;
}

.telaS4 button:hover{
    cursor: pointer;
    background-color: #303030;
    color: rgb(255, 253, 246);
    width: 300px;
    height: 100px;
    border: 2.4px solid white;
}

#meuVideo{
    width: 1900px;
    height: 900px;
}

@media (width <= 768px){
    nav{
        flex-direction: column;
        height: auto;
        padding-bottom: 10px;
    }
    .wrap-links{
        text-align: center;
    }

    #s1{
        position: relative;
        overflow: hidden;
        flex-direction: column;
    }

    .left{
        width: 100%;
        position: relative;
        z-index: 2;
    }

    .right{
        width: 90%;
        height: 180px;
        position: relative;
        align-items: center;
        padding-bottom: 100px;
        margin-top: 50px;
        z-index: 1;
    }

    .wrap-banner{
        width: 350px;
        height: auto;
    }

    @keyframes fromRight {
        0%{
            transform: translateY(-200px)scale(0);
            opacity: 0;
        }
        40%{
            transform: translateY(-200px)scale(0);
            opacity: 0;
        }
        100%{
            transform: translateX(0px)scale(1);
            opacity: 1;
        }
    }

    .wrap-banner img{
    width: 350px;
    height: auto;
    }

    #s3{
    min-height: 100vh;
    height: auto;
    width: 100%;
    }


    #meuVideo{
    width: 100vw;
    height: 360px;
}
}